@import 'flowbite';
:root {
    --main-background: #E7DDBA;
    --main-border: #c4ac70;
    --scroll-bar-track-background: #d3c195;
    --images-folder: 'chrome-extension://__MSG_@@extension_id__/assets/images/';
    --menu-width: 120px;
    --gh-item-white: rgba(255, 255, 255, 0.4);
    --gh-item-green: rgba(0, 255, 0, 0.3);
    --gh-item-blue: rgba(81, 89, 247, 0.4);
    --gh-item-purple: rgba(227, 3, 224, 0.4);
    --gh-item-orange: rgba(255, 106, 0, 0.4);
    --gh-item-red: rgba(255, 0, 0, 0.4);
}
.range_container {
    --_marker-border-clr: rgba(175, 139, 42, 0.6);
    --_marker-size: 15px;
    --_track-heigt: 3px;

    --_tooltip-bg-clr: rgba(0, 0, 0, 0.6);
    --_tooltip-txt-clr: var(--_marker-border-clr);

    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px !important;
}

.sliders_control {
    margin-top:  20px;
    position: relative;
}
#pauseList {
    margin-top: 8px;
    display: block;
}

#fileInput {
    display: none;
}

/* Style the label to look like a button */
.custom-file-input {
    display: inline-block;
    margin: 0 3px;
    padding: 0 6px;
    border: none;
    background-color: #755229; /* Darker brown */
    color: white !important;
    font-weight: normal !important;
    cursor: pointer;
    border-radius: 10px;
    font-size: 12px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}
.slider-tooltip {
    width: 26px;
    position: absolute;
    top: -2.5rem;
    left: 0;
    background-color: var(--_tooltip-bg-clr);
    color: var(--_tooltip-txt-clr);
    font-size: 1rem;
    border-radius: 4px;
    padding: 0.5rem 0.5rem;
    text-align: center;
    translate: -50% 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: var(--_marker-size);
    height: var(--_marker-size);
    background-color: var(--_marker-border-clr);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--_marker-border-clr);
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: var(--_marker-size);
    height: var(--_marker-size);
    background-color: var(--_marker-border-clr);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--_marker-border-clr);
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px rgba(195, 171, 111, 0.6), 0 0 9px rgba(195, 171, 111, 0.6);
    -webkit-box-shadow: inset 0 0 3px rgba(195, 171, 111, 0.6), 0 0 9px rgba(195, 171, 111, 0.6);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: var(--_track-heigt);
    width: -webkit-fill-available;
    position: absolute;
    background-color: var(--_marker-border-clr);
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
    border: unset;
}

.scale {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    position: relative;
    width: calc(100% - var(--_marker-size));
    margin-inline: auto;
    font-size: 0.8rem;
}

.scale div {
    position: absolute;
    translate: -50% 0;
}

.scale div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -125%;
    width: 1px;
    height: 10px;
    background-color:#666;
}
.discord-button {
    position: absolute;
    top: 4px;
    left: 6px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.discord-button {
    transform: translate(0, 0);
    transition: transform .2s ease-in-out;
}

.discord-button:hover {
    transform: translate(-4px, 4px) scale(1.3);
}

.discord-logo {
    width: 24px;
    height: 24px;
}

.auto-settings {
    background: var(--main-background);
    border: 3px solid var(--main-border);
    position: fixed;
    z-index: 999;
    font-size: 12px;
    /* Track */
    /* Handle */
    /* Handle on hover */
}

.auto-settings input,
.auto-settings select,
.auto-settings textarea {
    font-size: 12px;
}

.auto-settings ul.tabs {
    list-style: none;
    margin: 0;
    padding: 0 10px;
    white-space: nowrap;
    color: #dcbb96 !important;
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/header_bg.png');
}

.auto-settings ul.tabs li h4 {
    text-transform: uppercase;
    margin: 0;
    position: relative;
    padding-left: 15px;
}

.auto-settings ul.tabs li h4:before {
    padding: 6px 6px 6px 0;
    font-size: 20px;
    position: absolute;
    left: -5px;
    top: -11px;
    content: '\2699';
}

.auto-settings ul.tabs li:not(:first-child) {
    border: 2px solid transparent;
    border-bottom: none;
}

.auto-settings ul.tabs li:not(:first-child) *:not(.no-hover) {
    cursor: pointer;
}

.auto-settings ul.tabs li:not(:first-child) input {
    transform: translateY(1px);
}

.auto-settings ul.tabs li:not(:first-child).active,
.auto-settings ul.tabs li:not(:first-child):hover:not(.no-hover) {
    cursor: pointer;
    border-color: #4F1609;
    background-color: var(--main-background);
    color: #612d04;
}

.auto-settings ul.tabs li.center {
    justify-content: center;
}

.auto-settings .content {
    overflow-y: auto;
}

.auto-settings .content.open {
    display: block;
    transition: height 0.25s ease-in;
}

.auto-settings .content.close {
    height: 0;
    transition: height 0.25s ease-out;
}

.auto-settings .content .row {
    display: block;
    border-bottom: 1px solid var(--main-border);
    align-items: center;
}

.auto-settings .content .row .field-label {
    padding: 4px;
}

.auto-settings .content .row .field-content {
    min-width: 230px;
    padding: 4px;
}

.auto-settings .content .row .field-content input[type="textbox"] {
    width: 100px;
    border-width: 1px;
    padding: 2px;
}

.auto-settings .content .row .field-content input[type="textbox"][disabled] {
    background-color: #ccc;
}

.auto-settings .content .row .field-content select {
    border-width: 1px;
}

.auto-settings .content .row .field-content .key-input {
    width: 200px;
}

.auto-settings .content .row .field-content .gold-packs {
    margin-top: 10px;
    max-height: 100px;
    overflow-y: auto;
}

.auto-settings .content .row .field-content .gold-packs li {
    padding: 0 3px 0 0;
    border: 1px solid var(--main-border);
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.auto-settings .content .row .field-content .gold-packs li .gold-amount {
    display: inline-block;
    height: 19px;
    background-color: #dbcba5;
    padding: 0 3px;
    margin-right: 5px;
}

.auto-settings .content .row .field-content .gold-packs li .gold-amount .icon_gold {
    margin-left: 3px;
}

.auto-settings .content .row .field-content .gold-packs li a.remove {
    padding: 5px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.auto-settings .content .row .field-content .gold-packs li.no-bought-pack {
    padding: 0px 5px;
}

.auto-settings .content .row .field-content .gold-packs li .failed {
    color: red;
    text-transform: uppercase;
    background: yellow;
    padding: 2px 4px 4px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.auto-settings .content .row .field-content ul.repack-item-types li,
.auto-settings .content .row .field-content .checkbox-list li {
    float: left;
}

.auto-settings .content .row .field-content ul.public-market-sellers {
    margin-top: 5px;
}

.auto-settings .content .row .field-content ul.public-market-sellers li.seller-item {
    position: relative;
    float: left;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 2px 5px 0px 5px;
    margin-right: 5px;
}

.auto-settings .content .row .field-content ul.public-market-sellers li.seller-item .remove {
    height: 10px;
    right: 0;
    line-height: 7px;
    top: 0px;
}

.auto-settings .content .row .field-content ul.public-market-sellers + input {
    display: none;
}

.auto-settings .content .row .field-content ul.public-market-sellers + input + button {
    display: none;
}

.auto-settings .content .row .field-content .quest-rules {
    min-height: 220px;
}

.auto-settings .content .row .field-content .quest-rules .rule-item {
    margin-bottom: 4px;
    display: table-row;
}

.auto-settings .content .row .field-content .quest-rules .rule-item:hover .rule-actions span {
    display: inline;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .rule-order {
    display: table-cell;
    width: 20px;
    vertical-align: middle;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .rule-order span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid var(--main-border);
    border-radius: 50%;
    text-align: center;
    padding-bottom: 1.5px;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .rule-order span.btn-up {
    cursor: pointer;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .rule-actions {
    display: table-cell;
    width: 15px;
    vertical-align: middle;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .rule-actions span {
    color: red;
    font-size: 16px;
    font-weight: 700;
    display: none;
    cursor: pointer;
    line-height: 16px;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .rule-actions span.btn-add {
    font-size: 20px;
    color: green;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .conditions {
    display: table-cell;
    border: 3px solid transparent;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .conditions .inner-conditions {
    padding: 5px 4px 2px 4px;
    border: 1px solid var(--main-border);
    border-radius: 3px;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .conditions .inner-conditions > div {
    margin-right: 1.5px;
    margin-left: 1.5px;
    margin-bottom: 3px;
}

.auto-settings .content .row .field-content .quest-rules .rule-item:last-child {
    margin-bottom: 0;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .condition-item {
    display: inline-block;
    border: 1px solid var(--main-border);
    border-radius: 5px;
    position: relative;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .condition-item.number-operator .condition-value {
    width: 20px;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .condition-item.unary-operator .condition-value {
    display: none;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .condition-item .dropdown {
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .condition-item input {
    height: 17px;
    border: none;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .condition-item .icon-trash {
    padding: 0 5px;
    color: red;
    font-weight: bold;
    font-size: 16px;
    line-height: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.auto-settings .content .row .field-content .quest-rules .rule-item .icon-plus {
    color: green;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: inline-block;
    text-align: center;
    width: 21px;
    height: 21px;
    border: 1px solid var(--main-border);
    border-radius: 4px;
    vertical-align: middle;
    transform: translateY(1px);
    cursor: pointer;
}

.auto-settings .content .row .field-content ul.god-oils li {
    float: left;
    width: 50px;
}

.auto-settings .content .row .field-content ul.god-oils li label {
    top: 0;
}

.auto-settings .content .row .field-content ul.start-stop-settings li {
    display: block;
}

.auto-settings .content .row .field-content ul.start-stop-settings li > * {
    margin: 3px;
}

.auto-settings .content .row .field-content .setting-data-input {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.auto-settings .content .row .border {
    border-left: 1px solid var(--main-border);
    height: 100%;
}

.auto-settings .content .row .input-gold {
    width: 55px !important;
    border-width: 1px;
    padding: 2px;
}

.auto-settings .content .row .input-small {
    width: 30px !important;
    margin: 0 5px;
}

.auto-settings .content .row ul.arena,
.auto-settings .content .row ul.ignore-materials,
.auto-settings .content .row ul.auction-item-filters {
    max-height: 70px;
    min-height: 23px;
    overflow-y: auto;
    padding: 0 0 3px;
    color: #513f2c;
    border-width: 1px;
    border-style: solid;
    border-top-color: #876e3e;
    border-bottom-color: #af8e50;
    border-left-color: #876e3e;
    border-right-color: #af8e50;
    background-color: white;
    width: 98%;
}

.auto-settings .content .row ul.arena li,
.auto-settings .content .row ul.ignore-materials li,
.auto-settings .content .row ul.auction-item-filters li {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0 4px;
    position: relative;
    margin-left: 3px;
    margin-top: 3px;
}

.auto-settings .content .row ul.arena li [contenteditable],
.auto-settings .content .row ul.ignore-materials li [contenteditable],
.auto-settings .content .row ul.auction-item-filters li [contenteditable] {
    min-width: 5px;
}

.auto-settings .content .row ul.arena li:hover,
.auto-settings .content .row ul.ignore-materials li:hover,
.auto-settings .content .row ul.auction-item-filters li:hover {
    border-color: var(--main-border);
}

.auto-settings .content .row ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.auto-settings .content .row ul li {
    display: inline-block;
    white-space: nowrap;
}

.auto-settings .content .row ul li label {
    position: relative;
    top: -2px;
}

.auto-settings .content .row ul.arena li:last-child {
    border: none;
}

.auto-settings .content .row ul.ignore-materials,
.auto-settings .content .row ul.auction-item-filters {
    margin-top: 5px;
}

.auto-settings .content .row .red-text {
    color: red;
}

.auto-settings .content .row .icon-copy {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    bottom: 0;
}

.auto-settings .content .row .player-code {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.auto-settings .content .row li i.remove {
    position: absolute;
    right: 1px;
    font-style: normal;
    line-height: 5px;
    top: 0px;
    color: red;
    padding: 6px 4px 3px;
    width: 8px;
    height: 8px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

.auto-settings .content .row li i.remove:before {
    content: 'x';
    position: absolute;
}

.auto-settings .content .row li:hover i.remove {
    display: block;
}

.auto-settings .content .row.license-row * {
    display: inline-block;
    margin-right: 5px;
}

.auto-settings .content .row.invalid-premium input {
    pointer-events: none;
}

.auto-settings .content .valid {
    color: green;
    content: '(valid)';
    text-transform: uppercase;
}

.auto-settings .content .expired {
    color: red;
    content: '(expired)';
    text-transform: uppercase;
}

.auto-settings .content .video-link {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.auto-settings .content .invalid-license {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: gray;
    opacity: 0.4;
    color: red;
    text-align: center;
    font-size: 45px;
    padding-top: 45px;
}

.auto-settings .content ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.auto-settings .content.guildMarket-selected .guild-market-config {
    display: grid !important;
}

.auto-settings .content.publicMarket-selected .public-market-config {
    display: grid !important;
}

.auto-settings .content.publicMarket-selected .public-market-config input {
    width: 350px !important;
}

.auto-settings .content.guildBank-selected .guild-bank-config {
    display: grid !important;
}

.auto-settings .content.shop-selected .shop-config {
    display: grid !important;
}

.auto-settings .content.training-selected .training-config {
    display: grid !important;
}

.auto-settings .content.training-selected .packing-gold-threshold {
    display: none;
}

.auto-settings .content.repack-enabled .repack-item-types-row {
    display: grid !important;
}

.auto-settings .content .attack-dispater-asap,
.auto-settings .content .selected-location,
.auto-settings .content .selected-opponent {
    display: none;
}

.auto-settings .content.underworld-costume-mode .attack-dispater-asap {
    display: grid;
}

.auto-settings .content.underworld-item-mode .selected-location,
.auto-settings .content.underworld-item-mode .selected-opponent {
    display: grid;
}

.auto-settings .content.auto-repair-on .auto-repair-config {
    display: grid !important;
}

.auto-settings .content input[type=checkbox] + label {
    position: relative;
    top: -2px;
}

.auto-settings .content .renew-shop-options,
.auto-settings .content .buy-food-if-need {
    display: none;
}

.auto-settings .content.buy-food-from-shop-enabled .renew-shop-options,
.auto-settings .content.buy-food-from-shop-enabled .buy-food-if-need {
    display: grid;
}

.auto-settings .hide {
    display: none !important;
}

.auto-settings .dropdown {
    position: relative;
    border: 1px solid var(--main-border);
    display: inline-block;
}

.auto-settings .dropdown .dropdown-selected-text {
    cursor: pointer;
    padding: 1px 15px 0px 5px;
    display: inline-block;
}

.auto-settings .dropdown .dropdown-arrow-icon {
    cursor: pointer;
    border-style: solid;
    border-width: 7px 4px 0 4px;
    border-color: darkgray transparent transparent transparent;
    position: absolute;
    right: 4px;
    top: 8px;
}

.auto-settings .dropdown.open ul.dropdown-list {
    visibility: visible;
    max-height: 300px;
    overflow-y: auto;
}

.auto-settings .color-red {
    color: red !important;
    display: block !important;
}

.auto-settings .color-green {
    color: green;
}

.auto-settings.bottom {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 600px;
    border-bottom: none;
    border-width: 1px;
}

.auto-settings.bottom ul.tabs li {
    display: inline-block;
    padding: 3px;
}

.auto-settings.bottom ul.tabs li:not(:first-child) {
    border: 2px solid transparent;
    border-bottom: none;
    cursor: pointer;
}

.auto-settings.bottom ul.tabs li:not(:first-child) * {
    cursor: pointer;
}

.auto-settings.bottom ul.tabs li:not(:first-child) input {
    transform: translateY(2px);
}

.auto-settings.bottom ul.tabs li:not(:first-child) input + label {
    display: inline-block;
}

.auto-settings.bottom ul.tabs li:not(:first-child).active,
.auto-settings.bottom ul.tabs li:not(:first-child):hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #4F1609;
    background-color: var(--main-background);
    color: #612d04;
}

.auto-settings.bottom .content {
    position: relative;
    min-width: 620px;
    overflow-y: auto;
    max-height: 400px;
}

.auto-settings.bottom .content.open {
    min-height: 150px;
    transition: height 0.25s ease-in;
}

.auto-settings.bottom .content.close {
    height: 0;
    transition: height 0.25s ease-out;
}

.auto-settings.bottom .gh-pause {
    position: absolute;
    right: -26px;
    top: 1px;
}

.auto-settings.menu-right {
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: var(--menu-width);
}

.auto-settings.menu-right ul.tabs {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.auto-settings.menu-right ul.tabs li {
    display: flex;
    justify-content: space-between;
    height: 28px;
    padding-right: 2px;
    align-items: center;
}

.auto-settings.menu-right ul.tabs li:first-child {
    justify-content: center;
}

.auto-settings.menu-right ul.tabs li:not(:first-child) {
    border: none;
    border-top: 1px solid var(--main-border);
}

.auto-settings.menu-right ul.tabs li:not(:first-child) *:not(.no-hover) {
    cursor: pointer;
}

.auto-settings.menu-right ul.tabs li:not(:first-child) input {
    transform: translateY(1px);
    margin-left: 2;
}

.auto-settings.menu-right ul.tabs li:not(:first-child) input + label {
    max-width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.auto-settings.menu-right ul.tabs li:not(:first-child).active,
.auto-settings.menu-right ul.tabs li:not(:first-child):hover:not(.no-hover) {
    cursor: pointer;
    border-radius: none;
}

.auto-settings.menu-right ul.tabs li.center {
    justify-content: center;
}

.auto-settings.menu-right ul.tabs li label {
    text-overflow: ellipsis;
    overflow: hidden;
}

.auto-settings.menu-right .content {
    position: absolute;
    right: var(--menu-width);
    top: 50%;
    background: var(--main-background);
    transform: translateY(-50%);
    height: calc(100% - 1px);
}

.auto-settings.menu-right .content.open {
    display: block;
    border: 3px solid var(--main-border);
    border-right: 0;
}

.auto-settings.menu-right .content.close {
    height: 0;
    transition: height 0.25s ease-out;
}

.auto-settings.menu-right .gh-pause {
    position: relative;
}

.auto-settings .icon-infor {
    font-size: 18px;
    color: blue;
    line-height: 12px;
    position: relative;
    top: 2px;
    margin: 0 2px;
}

.auto-settings .gh-icon {
    margin-left: 1px;
}

.auto-settings ::-webkit-scrollbar {
    width: 7px !important;
}

.auto-settings ::-webkit-scrollbar-track {
    background: var(--scroll-bar-track-background) !important;
}

.auto-settings ::-webkit-scrollbar-thumb {
    background: #612d04 !important;
    border-radius: 5px !important;
}

.auto-settings ::-webkit-scrollbar-thumb:hover {
    background: #4F1609 !important;
}

.gh-content-scroll,
.dropdown-list {
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
}

.gh-content-scroll::-webkit-scrollbar,
.dropdown-list::-webkit-scrollbar {
    width: 7px !important;
}

.gh-content-scroll::-webkit-scrollbar-track,
.dropdown-list::-webkit-scrollbar-track {
    background: var(--scroll-bar-track-background) !important;
}

.gh-content-scroll::-webkit-scrollbar-thumb,
.dropdown-list::-webkit-scrollbar-thumb {
    background: #612d04 !important;
    border-radius: 5px !important;
}

.gh-content-scroll::-webkit-scrollbar-thumb:hover,
.dropdown-list::-webkit-scrollbar-thumb:hover {
    background: #4F1609 !important;
}

.gh-hide {
    display: none !important;
}

#char .awesome-button {
    padding: 0;
    font-size: 16px;
    line-height: 1;
    width: 20px;
    height: 19px;
}

#char .put-down {
    position: absolute;
    bottom: 23px;
    right: 44px;
}

#char .put-up {
    position: absolute;
    right: 68px;
    bottom: 23px;
}

#char .repair {
    position: absolute;
    right: 14px;
    bottom: 23px;
    width: 20px;
    height: 19px;
}

#char .btn-add-arena-attack-list {
    position: absolute;
    right: 55px;
    top: 21px;
}

#char .btn-add-circus-attack-list {
    position: absolute;
    right: 25px;
    top: 21px;
}

#char .add-remove-player {
    font-weight: bold;
    animation-name: bubble-text;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    position: absolute;
    text-align: center;
    width: 230px;
    left: 50px;
    font-size: 16px;
}

#char .add-remove-player.add {
    color: lawngreen;
}

#char .add-remove-player.remove {
    color: red;
}

@keyframes bubble-text {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(2, 2);
    }
}

.merchant-settings,
.package-settings,
.smelter-auto-settings {
    background-color: var(--main-background);
}

.merchant-settings ul,
.package-settings ul,
.smelter-auto-settings ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.merchant-settings ul li,
.package-settings ul li,
.smelter-auto-settings ul li {
    display: inline-block;
    white-space: nowrap;
}

.merchant-settings ul li label,
.package-settings ul li label,
.smelter-auto-settings ul li label {
    position: relative;
    top: -2px;
}

.merchant-settings ul li,
.package-settings ul li,
.smelter-auto-settings ul li {
    display: inline-block;
}

.merchant-settings .actions,
.package-settings .actions,
.smelter-auto-settings .actions {
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
}

.merchant-settings .actions .awesome-button,
.package-settings .actions .awesome-button,
.smelter-auto-settings .actions .awesome-button {
    padding: 2px 3px;
}

.merchant-settings .actions .awesome-button:last-child,
.package-settings .actions .awesome-button:last-child,
.smelter-auto-settings .actions .awesome-button:last-child {
    margin-right: 0;
}

.merchant-settings {
    margin: 0 21px 10px;
}

.merchant-settings li {
    width: 50%;
}

.package-settings {
    margin: 0 0 10px;
}

.package-settings li {
    width: 25%;
}

.package-settings li .pick-level {
    width: 40px;
}

.package-settings li .pick-gold {
    width: 80px;
}

.workbench-actions,
.smelter-actions {
    text-align: center;
    margin: 0 21px 10px;
    padding-bottom: 0;
}

.workbench-actions .workbench_quality,
.smelter-actions .workbench_quality {
    display: inline-block;
    width: 155px;
}

.package-settings,
.merchant-settings {
    padding: 7px !important;
}

.package-settings .awesome-button,
.merchant-settings .awesome-button,
.workbench-actions .awesome-button,
.smelter-actions .awesome-button {
    margin-bottom: 5px;
}

.hammer {
    cursor: url('chrome-extension://__MSG_@@extension_id__/assets/images/hammer1.png'), auto;
}

.burn {
    cursor: url('chrome-extension://__MSG_@@extension_id__/assets/images/burn.png'), auto;
}

.packageItem {
    position: relative;
}

.packageItem .burnable {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/burn-off.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: -4px;
    background-size: cover;
    left: -1px;
    cursor: pointer;
}

.packageItem .burnable.burn-selected {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/burn-base.png') !important;
}

.cart {
    cursor: url('chrome-extension://__MSG_@@extension_id__/assets/images/cart.png'), auto;
}

.fixing-inprogress,
.repair-inprogess,
.loading {
    cursor: not-allowed;
}

.fixing-inprogress::before,
.repair-inprogess::before,
.loading::before {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    background-position: center;
    transform: translate(-2px, -2px);
}

.fixing-inprogress,
.loading {
    opacity: 0.3;
}

.fixing-inprogress::before,
.loading::before {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/spinner.gif');
    background-size: 50%;
}

.new-version::after {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/new-version.gif');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 50px;
    content: '';
    position: absolute;
    top: -30px;
    left: -80px;
    overflow: visible;
}

.repair-inprogess {
    z-index: 999;
}

.repair-inprogess::before {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/hammer_ok.gif');
    background-size: 30px;
}

.gh-overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 998;
    opacity: 0.5;
    display: none;
}

.gh-error-message {
    color: red;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.inventoryBox .section-header {
    margin: 15px 21px 0;
}

.quick-offer {
    right: -50%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 5px;
}

.underworld-item {
    background-color: red !important;
}

.gh-timer {
    display: inline-block;
    white-space: nowrap;
    font-size: 13px;
    color: yellow;
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/header_bg.png');
    z-index: 999999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 100px;
}

.gh-timer.bottom {
    position: absolute;
    top: -21px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 20px;
    text-align: center;
}

.gh-timer.menu-right {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
    text-align: center;
}

.gh-pause {
    position: relative;
    width: 26px;
    height: 25px;
    background-color: hsl(32, 50%, 70%);
    border-radius: 4px;
}

.gh-pause:hover {
    background-color: hsl(32, 50%, 80%);
}

.gh-pause .button {
    box-sizing: border-box;
    height: 16px;
    border-color: transparent transparent transparent green;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;
    border-style: solid;
    border-width: 8px 0 8px 14px;
    display: block;
    width: 16px;
    position: absolute;
    left: 7px;
    top: 5px;
}

.gh-pause.pause .button {
    border-style: double;
    border-width: 0px 0 0px 14px;
    border-left-color: red;
    left: 6px;
}

.gh-pause.disabled {
    cursor: not-allowed !important;
}

.gh-pause.disabled .button {
    opacity: 0.3;
    cursor: not-allowed !important;
    pointer-events: none;
}

.smelter-auto-settings li {
    width: 50%;
}

#selectedSmeltSummary {
    font-size: 12px;
    font-weight: normal;
}

.single_char_item_bg.repair_slot_bg {
    display: none;
}

.gh-items-section {
    position: fixed;
    left: 0;
    top: 50%;
    width: 141px;
    z-index: 999;
}

.gh-items-section .gh-items-section-header {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/header_bg.png');
    color: #dcbb96 !important;
    padding: 0 2px;
    display: flex;
    justify-content: flex-start;
    height: 18px;
    border-top-left-radius: 3px;
    border-top-right-radius: 4px;
    cursor: move;
    user-select: none;
}

.gh-items-section .gh-items-section-header label, .popup-header {
    cursor: move;
}
.popup-header {
    width: 100%;
}
.gh-items-section .gh-items-section-content {
    max-height: 100px;
    min-height: 52px;
    left: 0;
    top: 50%;
    background-color: var(--main-background);
    overflow-y: auto;
    padding-bottom: 3px;
}

.gh-items-section .gh-items-section-content .auction_item_div {
    transform: scale(0.5);
    margin: -22px -17px -25px -14px;
    cursor: pointer;
}

.gh-items-section .gh-items-section-content .auction_item_div .outbid {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 0;
}

.gh-items-section .gh-items-section-content .auction_item_div .outbid.quest_slot_button_finish {
    bottom: -2px;
    right: -2px;
    transform: scale(0.8);
}

.gh-items-section .gh-items-section-content .auction_item_div .item-quality-white {
    filter: drop-shadow(4px 4px 4px rgba(255, 255, 255, 0.4)) drop-shadow(4px -4px 4px rgba(255, 255, 255, 0.4)) drop-shadow(-4px -4px 4px rgba(255, 255, 255, 0.4)) drop-shadow(-4px 4px 4px rgba(255, 255, 255, 0.4));
}

.gh-items-section .gh-items-section-content .auction_item_div .item-quality-green {
    filter: drop-shadow(5px 5px 5px var(--gh-item-green)) drop-shadow(5px -5px 5px var(--gh-item-green)) drop-shadow(-5px -5px 5px var(--gh-item-green)) drop-shadow(-5px 5px 5px var(--gh-item-green));
}

.gh-items-section .gh-items-section-content .auction_item_div .item-quality-blue {
    filter: drop-shadow(5px 5px 5px var(--gh-item-blue)) drop-shadow(5px -5px 5px var(--gh-item-blue)) drop-shadow(-5px -5px 5px var(--gh-item-blue)) drop-shadow(-5px 5px 5px var(--gh-item-blue));
}

.gh-items-section .gh-items-section-content .auction_item_div .item-quality-purple {
    animation: purpleShadowAnimation 2s linear infinite alternate;
}

.gh-items-section .gh-items-section-content .auction_item_div .item-quality-orange {
    animation: orangeShadowAnimation 2s linear infinite alternate;
}

.gh-items-section .gh-items-section-content .auction_item_div .item-quality-red {
    animation: redShadowAnimation 2s linear infinite alternate;
}

.gh-info {
    margin-left: 3px;
    cursor: pointer;
}

.row-wrapper {
    overflow: hidden;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

ul.dropdown-list {
    visibility: hidden;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 100%;
    left: -2px;
    background: white;
    padding: 0;
    border: 1px solid #ccc;
    z-index: 99999;
    max-height: 200px;
    overflow-y: auto;
}

ul.dropdown-list.open {
    visibility: visible;
}

ul.dropdown-list .dropdown-item {
    display: block;
    padding: 2px 5px;
    white-space: nowrap;
    cursor: initial;
}

ul.dropdown-list .dropdown-item.has-icon {
    max-height: 31px;
}

ul.dropdown-list .dropdown-item.has-icon > div {
    display: inline-block;
    transform: scale(0.75);
}

ul.dropdown-list .dropdown-item.has-icon .dropdown-item-text {
    position: relative;
    top: -10px;
}

ul.dropdown-list .dropdown-item:hover,
ul.dropdown-list .dropdown-item.selected {
    background-color: lightblue;
}

.gh-animate-item-color [data-quality="2"] {
    animation: purpleShadowAnimation 2s linear infinite alternate;
}

.gh-animate-item-color [data-quality="3"] {
    animation: orangeShadowAnimation 2s linear infinite alternate;
}

.gh-animate-item-color [data-quality="4"] {
    animation: redShadowAnimation 2s linear infinite alternate;
}

@keyframes redShadowAnimation {
    0% {
        filter: drop-shadow(2px 2px 2px var(--gh-item-red)) drop-shadow(2px -2px 2px var(--gh-item-red)) drop-shadow(-2px -2px 2px var(--gh-item-red)) drop-shadow(-2px 2px 2px var(--gh-item-red));
    }
    50% {
        filter: drop-shadow(4px 4px 4px var(--gh-item-red)) drop-shadow(4px -4px 4px var(--gh-item-red)) drop-shadow(-4px -4px 4px var(--gh-item-red)) drop-shadow(-4px 4px 4px var(--gh-item-red));
    }
    100% {
        filter: drop-shadow(2px 2px 2px var(--gh-item-red)) drop-shadow(2px -2px 2px var(--gh-item-red)) drop-shadow(-2px -2px 2px var(--gh-item-red)) drop-shadow(-2px 2px 2px var(--gh-item-red));
    }
}

@keyframes orangeShadowAnimation {
    0% {
        filter: drop-shadow(2px 2px 2px var(--gh-item-orange)) drop-shadow(2px -2px 2px var(--gh-item-orange)) drop-shadow(-2px -2px 2px var(--gh-item-orange)) drop-shadow(-2px 2px 2px var(--gh-item-orange));
    }
    50% {
        filter: drop-shadow(4px 4px 4px var(--gh-item-orange)) drop-shadow(4px -4px 4px var(--gh-item-orange)) drop-shadow(-4px -4px 4px var(--gh-item-orange)) drop-shadow(-4px 4px 4px var(--gh-item-orange));
    }
    100% {
        filter: drop-shadow(2px 2px 2px var(--gh-item-orange)) drop-shadow(2px -2px 2px var(--gh-item-orange)) drop-shadow(-2px -2px 2px var(--gh-item-orange)) drop-shadow(-2px 2px 2px var(--gh-item-orange));
    }
}

@keyframes purpleShadowAnimation {
    0% {
        filter: drop-shadow(2px 2px 2px var(--gh-item-purple)) drop-shadow(2px -2px 2px var(--gh-item-purple)) drop-shadow(-2px -2px 2px var(--gh-item-purple)) drop-shadow(-2px 2px 2px var(--gh-item-purple));
    }
    50% {
        filter: drop-shadow(4px 4px 4px var(--gh-item-purple)) drop-shadow(4px -4px 4px var(--gh-item-purple)) drop-shadow(-4px -4px 4px var(--gh-item-purple)) drop-shadow(-4px 4px 4px var(--gh-item-purple));
    }
    100% {
        filter: drop-shadow(2px 2px 2px var(--gh-item-purple)) drop-shadow(2px -2px 2px var(--gh-item-purple)) drop-shadow(-2px -2px 2px var(--gh-item-purple)) drop-shadow(-2px 2px 2px var(--gh-item-purple));
    }
}

.gh-icon-auction-house {
    background-repeat: no-repeat;
    background-size: cover;
    width: 13px;
    height: 13px;
    position: relative;
    top: 2px;
    margin: 0 2px;
    display: inline-block;
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/auction-house.png');
}

.gh-icon-shop {
    background-repeat: no-repeat;
    background-size: cover;
    width: 13px;
    height: 13px;
    position: relative;
    top: 2px;
    margin: 0 2px;
    display: inline-block;
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/shop.png');
}
